<% layout("layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/index.css" />

<div class="card-container">
  <% for(let card of data){ %>
  <a href="/listings/<%= card['_id'] %>">
    <div class="card">
      <div class="card-image">
        <img src="<%= card.image %>" alt="" />
      </div>
      <div class="card-info">
        <div class="card-info-title"><%= card.title %></div>
        <div class="card-info-description"><%= card.description %></div>
        <div class="card-info-price">&#2547;<%= card.price %></div>
      </div>
    </div>
  </a>
  <% } %>
</div>
